streamlit
langchain
langchain-community
langchain-google-genai
langchain-chroma
google-generativeai
pypdf
python-dotenv
chromadb >=0.4.18 # Ensure a recent version of chromadb
duckdb >=0.9.2   # Add duckdb
duckdb-engine  # Add duckdb-engine
protobuf==3.20.3